.btn-add{
    background-color: #062F6D;
    color: #FFF;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    border-radius: 8px;
}
.btn-edit{
    background-color: #FFA500;
    color: #FFF;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    border-radius: 8px;
}
.btn-delete{
    background-color: #D32F2F;
    color: #FFF;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    border-radius: 8px;
}
th{
    text-align: center;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
td{
    text-align: center;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}