<div class="d-flex flex-row">
  <div style="width: 20%">
    <app-admin-sidebar></app-admin-sidebar>
  </div>
  <div style="width: 80%" class="mt-5 mx-1">
    <div class="d-flex flex-row justify-content-end">
      <button class="btn btn-add mb-3" (click)="open(add)">اضافة نقطة حشد جديدة</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of points">
          <td class="text-center">{{ item.name }}</td>
          <td class="text-center">
            <div class="form-check form-switch d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="item.isActive"
                (change)="toggleStatus(item)" />
            </div>
          <td class="d-flex flex-row justify-content-center">
            <button class="btn btn-sm btn-edit mx-2" (click)="open(edit)">تعديل</button>
            <button class="btn btn-sm btn-delete" (click)="open(delete)">حذف</button>
          </td>
        </tr>
      </tbody>
    </table>
     <div class="d-flex align-items-center justify-content-between mt-3 pagination-row">
        <ngb-pagination [collectionSize]="mainPoints.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
          [rotate]="true" [ellipses]="true" [boundaryLinks]="true" (pageChange)="refreshCountries()">
        </ngb-pagination>

        <div class="d-flex align-items-center gap-2">
          <label class="mb-0 me-2">عرض</label>
          <select class="form-select page-size-select" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 عناصر في الصفحة</option>
            <option [ngValue]="4">4 عناصر في الصفحة</option>
            <option [ngValue]="6">6 عناصر في الصفحة</option>
            <option [ngValue]="10">10 عناصر في الصفحة</option>
          </select>
        </div>
      </div>
  </div>
</div>


<ng-template #add let-modal>
  <div class="modal-header">	
    <h4 class="modal-title" id="modal-basic-title">اضافة نقطة حشد جديدة</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm">
      <div class="mb-3" style="direction: rtl;">
        <label for="name" class="form-label">اسم النقطة</label>
        <input type="text" id="name" formControlName="name" class="form-control" placeholder="ادخل اسم نقطة الحشد" />
        <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched" class="text-danger mt-1">
          يجب ادخال اسم النقطة
        </div>
      </div>
     
    

     

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="submitAdd()">حفظ</button>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Point</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="submitEdit()">Save</button>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Point</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="submitDelete()">Save</button>
  </div>
</ng-template>