.failed-modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0px 0 16px 16px;
    background: #FFF;
    box-shadow: 0px 33px 13px 0px rgba(0, 0, 0, 0.01);
    border-top: 5px solid red;
}
.failed-modal-title{
    color: var(--Colors-Primary-1000, #062F6D);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.8px;
}
.failed-modal-text{
    color: var(--Colors-Neutral-700, #565656);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; 
}
.btn-ok{
    border-radius: var(--Radius-2, 8px);
    background: #d5401e;
    color: white;
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}