.success-modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0px 0 16px 16px;
    border: none;
    background: #FFF;
    box-shadow: 0px 33px 13px 0px rgba(0, 0, 0, 0.01);
    border-top: 5px solid #22C03C;
}
.success-modal-title{
    color: var(--Colors-Primary-1000, #062F6D);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.8px;
}
.success-modal-text{
    color: var(--Colors-Neutral-700, #565656);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; 
}
.btn-ok{
    background-color: #062F6D;
    color: #FFF;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: none;
    border-radius: 8px;
}
.btn-cancel{
    border-radius: var(--Radius-2, 8px);
    border: 1px solid var(--Colors-Neutral-200, #D1D1D1);
    background: var(--Colors-Neutral-500, #878787);
    color: white;
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}